In [1]:
import os

In [2]:
os.path.expanduser('~')

'C:\\Users\\alevi'

In [5]:
i = 10 
float(i)

10.0

In [7]:
os.path.expanduser('~')

'C:\\Users\\alevi'

In [1]:
import scipy

In [2]:
import sklearn

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("titanic.csv", index_col='PassengerId')

In [5]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
df = df[['Pclass','Sex','Age','SibSp','Parch','Fare','Survived']]

In [8]:
df.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived'], dtype='object')

In [9]:
df['Sex'] = df['Sex'].map({'male':0,'female':1})

In [10]:
df.head()

             Pclass  Sex   Age  SibSp  Parch     Fare  Survived
PassengerId
1                 3    0  22.0      1      0   7.2500         0
2                 1    1  38.0      1      0  71.2833         1
3                 3    1  26.0      0      0   7.9250         1
4                 1    1  35.0      1      0  53.1000         1
5                 3    0  35.0      0      0   8.0500         0

In [25]:
df = df.dropna()

In [26]:
df.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived'], dtype='object')

In [27]:
X = df.drop('Survived', axis=1)

In [28]:
X.head()

             Pclass  Sex   Age  SibSp  Parch     Fare
PassengerId
1                 3    0  22.0      1      0   7.2500
2                 1    1  38.0      1      0  71.2833
3                 3    1  26.0      0      0   7.9250
4                 1    1  35.0      1      0  53.1000
5                 3    0  35.0      0      0   8.0500

In [29]:
y = df['Survived']

In [17]:
y

PassengerId
1      0
2      1
3      1
4      1
5      0
6      0
7      0
8      0
9      1
10     1
11     1
12     1
13     0
14     0
15     0
16     1
17     0
18     1
19     0
20     1
21     0
22     1
23     1
24     1
25     0
26     1
27     0
28     0
29     1
30     0
      ..
862    0
863    1
864    0
865    0
866    1
867    1
868    0
869    0
870    1
871    0
872    1
873    0
874    0
875    1
876    1
877    0
878    0
879    0
880    1
881    1
882    0
883    0
884    0
885    0
886    0
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)

In [21]:
from sklearn import tree

In [22]:
model = tree.DecisionTreeClassifier()

In [23]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [30]:
model.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [34]:
from sklearn.svm import SVC

In [37]:
model = SVC(kernel='Linear')

In [38]:
model

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='Linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [39]:
model.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [42]:
df.isNaN

AttributeError: 'DataFrame' object has no attribute 'isNaN'

In [46]:
df.isna().any(axis=1)

PassengerId
1      False
2      False
3      False
4      False
5      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
19     False
21     False
22     False
23     False
24     False
25     False
26     False
28     False
31     False
34     False
35     False
36     False
38     False
39     False
       ...
857    False
858    False
859    False
861    False
862    False
863    False
865    False
866    False
867    False
868    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
890    False
891    False
Length: 714, dtype: bool